<div class="question-card">
    @if(authService.id == question.userId) {
      <div class="question-card-actions">
        <button mat-icon-button class="action-btn" (click)="deleteQuestion()">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button class="action-btn" (click)="editQuestion()">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    } @else {
      <div class="question-card-actions">
        <button mat-icon-button class="action-btn">
          <mat-icon>flag</mat-icon>
        </button>
      </div>
    }
  
    @if(question.username && question.anonymous != true) {
      <div class="question-card-user">
        <a class="username" [href]=`${question.username}`>&#64;{{ question.username }}</a>
      </div>
    } @else {
      <div class="question-card-user">Анонимный вопрос</div>
    }
  
    <h2 class="question-card-title">
      <a [href]="'questions/' + question.id">{{ question.title }}</a>
    </h2>
  
    <p class="question-card-text">{{ question.text }}</p>
  
    <p class="datetime">{{ question.createdAt.toLocaleString() | date:'medium' }}</p>
  </div>
  