.form { 
    width: 800px;
}

.edit-question__wrapper {
    background-color: var(--background-color);
    align-items: center; /* Вертикальное центрирование */

}
.edit-question-title {
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.edit-question-field {
    width: 100%;
}
  
mat-dialog-actions {
    margin-top: 20px;
}
.form-content {
    justify-content: center; /* Горизонтальное центрирование */
}