<div class="answer-section">
    @if(answer.psychologistId == authService.id) {
      <div class="action-buttons">
        <button class="action-button" (click)="toggleEdit()">
          <mat-icon>edit</mat-icon>
        </button>
        <button class="action-button" (click)="deleteAnswer()">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    } @else {
      <div class="action-buttons">
        <button mat-icon-button class="action-button" (click)="openModal()">
          <mat-icon>flag</mat-icon>
        </button>
      </div>
    }
  
    <li class="no-marker">
      <a class="username" [href]=`${answer.username}`><strong>&#64;{{ answer.username }}</strong></a>
    </li>
  
    @if(!isEditMode()) {
      <p class="answer-text">{{ answer.text }}</p>
    } @else {
      <mat-form-field class="edit-field mt8" appearance="outline">
        <mat-label>Измените текст</mat-label>
        <input matInput [value]="answer.text" (keydown.enter)="onEnter($event)" />
      </mat-form-field>
    }
  
    <p class="datetime">{{ answer.createdAt.toLocaleString() | date: 'medium' }}</p>
  </div>
  