<div class="edit-password__wrapper">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <!-- Старый пароль -->
    <mat-form-field appearance="fill" class="password-field">
      <mat-label>Старый пароль</mat-label>
      <input matInput formControlName="oldPassword" [type]="showOldPassword ? 'text' : 'password'" placeholder="Введите старый пароль" />
      <button mat-icon-button matSuffix type="button" (click)="toggleShowOldPassword()">
        <mat-icon>{{ showOldPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      @if(form.get('oldPassword')?.hasError('required')) {
        <mat-error>
          Введите старый пароль
        </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill" class="password-field">
      <mat-label>Новый пароль</mat-label>
      <input matInput formControlName="newPassword" [type]="showNewPassword ? 'text' : 'password'" placeholder="Введите новый пароль" />
      <button mat-icon-button matSuffix type="button" (click)="toggleShowNewPassword()">
        <mat-icon>{{ showNewPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      @if(form.get('newPassword')?.hasError('required')) {
        <mat-error>
          Введите новый пароль
        </mat-error>
      }
      @if(form.get('newPassword')?.hasError('minlength')) {
        <mat-error>
            Пароль должен быть не менее {{ minPasswordLength }} символов
        </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill" class="password-field">
      <mat-label>Повторите новый пароль</mat-label>
      <input matInput formControlName="confirmNewPassword" [type]="showConfirmNewPassword ? 'text' : 'password'" placeholder="Повторите новый пароль" />
      <button mat-icon-button matSuffix type="button" (click)="toggleShowNewRepeatPassword()">
        <mat-icon>{{ showConfirmNewPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      @if(form.get('confirmNewPassword')?.hasError('required')) {
        <mat-error>
          Повторите пароль
        </mat-error>
      }
      @if(form.get('confirmNewPassword')?.hasError('passwordMismatch')) {
        <mat-error>
            Пароли не совпадают
        </mat-error>
    }
    </mat-form-field>

    <div class="button-group">
      <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid">Отправить</button>
    </div>
  </form>
</div>
