.review-section {
    position: relative;
    width:100%;
    background-color: var(--background-color);
    text-align: left;
    padding: 16px;
    width: calc(100% - 32px);
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.action-buttons {
    display: flex;
    gap: 8px;
    position: absolute;
    top: 8px;
    right: 16px;
}

button mat-icon {
    color: var(--border-color);
    font-size: 30px; /* Размер иконки */
    width: 30px; /* Ширина */
    height: 30px; /* Высота */
}


button:hover {
    cursor: pointer;
}

.action-button {
    border: none;
    size: 100px;
    background-color: var(--background-color);
    color: var(--primary-color);
}

.delete-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: var(--border-color);
    
}

.edit-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: var(--border-color);
}

.edit-field {
    width: 100%;
}

.username {
    font-size: 16px;
}

.answer-text {
    font-size: 16px;
}
