<div class="review-section">
    @if(review.senderId == authService.id) {
      <div class="action-buttons">
        <button class="action-button" (click)="toggleEdit()">
          <mat-icon>edit</mat-icon>
        </button>
        <button class="action-button" (click)="deleteReview()">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    }
  
    <li class="no-marker">
        <a class="username" [href]=`${review.senderUsername}`>&#64;{{ review.senderUsername }}</a>
    </li>

    @if(!isEditMode()) {
      <p class="review-text">{{ review.text }}</p>
    } @else {
      <mat-form-field class="edit-field mt8" appearance="outline">
        <mat-label>Измените текст</mat-label>
        <input matInput [value]="review.text" (keydown.enter)="onEnter($event)" />
      </mat-form-field>
    }
  
    <p class="date">{{ review.createdAt.toLocaleString() | date: 'medium' }}</p>
</div>
  