<nav class="settings-menu">
    <ul class="settings-list">
      <li>
        <button mat-button color="primary" (click)="navigateToEditProfile()">
            {{ isOpenFormForEditProfile ? 'Закрыть форму без изменений' : 'Редактировать профиль' }}
        </button>
      </li>
  
      <li>
        <button mat-button color="accent" (click)="navigateToEditPassword()">
          {{ isOpenFormForEditPassword ? 'Закрыть форму без изменений' : 'Изменить пароль' }}
        </button>
      </li>
  
      @if(authService.roles.includes(Role.SUFFERY)) {
        <li>
          <button mat-button color="accent">Стать психологом</button>
        </li>
      }
  
      <li>
        <button mat-button color="warn" (click)="logout()">Выход</button>
      </li>
    </ul>
</nav>

@if(isOpenFormForEditPassword) {
    <app-edit-password-modal></app-edit-password-modal>
}


@if(isOpenFormForEditProfile) {
    <app-edit-profile-modal></app-edit-profile-modal>
}


  