<div class="questions__wrapper">
    @if(authService.roles.includes(Role.SUFFERY)) {
        <div class="ask-btn">
            <button class="btn" (click)="navigateToCreateQuestion()">Задать вопрос</button>
        </div>
    }
      
    <div class="m8">
        <mat-form-field class="search-field" appearance="outline">
            <mat-label>Введите текст</mat-label>
            <input matInput type="search" (keydown.enter)="onEnter($event)" />
            <button mat-icon-button matSuffix>
            <mat-icon>search</mat-icon>
            </button>
        </mat-form-field>
    </div>
    
    <div class="questions-list__wrapper">
        <div class="questions-list">
            @if(questions$ | async; as questions) {
            @for (q of questions; track q.id) {
                <app-question-card [question]="q" class="question-card"></app-question-card>
            }
            @empty {
                <p class="no-content">Нет доступных вопросов</p>
            }
        }
        </div>
    </div>
</div>

  