<div class="sidebar__wrapper">
    <nav class="sidebar">
        <ul>
            <li><a [routerLink]=`${authService.username}` class="menu-link">Профиль</a></li>
            <li><a routerLink="/questions" class="menu-link">Вопросы</a></li>
            <li><a routerLink="/search" class="menu-link">Найти</a></li>
            @if(authService.roles.includes(Role.ADMIN)) {
                <li><a routerLink="/settings" class="menu-link">Заявки</a></li>
                <li><a routerLink="/claims" class="menu-link">Жалобы</a></li>
            }
            <li><a routerLink="/settings" class="menu-link">Настройки</a></li>
        </ul>
    </nav>
</div>
