@if(user$ | async; as user) {
  <div class="profile-page">
    <!-- Профиль -->
    <section class="profile-section">
      <h1>Профиль</h1>
      <div class="profile-details">
        <p><strong>Имя пользователя:</strong> {{ user.username }}</p>
        <p><strong>Никнейм:</strong> {{ user.nickname }}</p>
        <p><strong>О себе:</strong> {{ user.about || 'Информация отсутствует' }}</p>
        <p><strong>Роль:</strong> {{ userService.getRolesDescription(user.role) }}</p>
        <p><strong>Дата создания:</strong> {{ user.createdAt.toLocaleString() | date:'medium' }}</p>
      </div>
    </section>
  
    <!-- Вопросы -->
    @if(user.role.includes(Role.SUFFERY)) {
      @if(questions$ | async; as questions) {
        <section class="questions-section">
          <h2>Мои вопросы</h2>
            @for(q of questions; track q.id) {
              <app-question-card [question]="q"></app-question-card>
            }
            @empty {
              <p class="no-content">У матросов нет вопросов</p>
            }
        </section>
      }
    }
  
    <!-- Отзывы -->
    @if(user.role.includes(Role.PSYCHOLOG)) {
      <section class="reviews-section">

      @if(authService.roles.includes(Role.SUFFERY)) {
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="review-form">
          <mat-form-field appearance="outline" class="review-field">
            <mat-label>Введите ваш отзыв</mat-label>
            <textarea matInput formControlName="review"></textarea>
          </mat-form-field>
          <button class="btn" type="submit">Оставить отзыв</button>
        </form>
      }

      @if(reviews$ | async; as reviews) {
          <h2>Отзывы</h2>
          <div class="reviews-list">
            @for(r of reviews; track r.id) {
              <app-review-card [review]="r"></app-review-card>
            }
            @empty {
              <p class="no-content">Отзывов пока что нет</p>
            }
          </div>
      }
    </section>

    }
  </div>
}
