<form 
    class="login-form" 
    [formGroup]="form"
    (ngSubmit)="onSubmit($event)"    
>
    <h1 class="h1 mb60">Вход</h1>
    <mat-form-field class="form-field" appearance="fill">
        <mat-label>Имя пользователя</mat-label>
        <input matInput 
            formControlName="username"
            class="input mt8" 
            type="text" 
            placeholder="Введите логин"/>
    </mat-form-field>

    <mat-form-field class="form-field" appearance="fill">
        <mat-label>Пароль</mat-label>
        <input matInput
            formControlName="password"
            class="input mt8" 
            [type]="showPassword() ? 'text' : 'password'" 
            placeholder="Введите пароль"/>
        <button type="button" 
            (click)="showPassword.set(!showPassword())" 
            class="password-eye-btn">
            <span class="material-icons">
                {{ showPassword() ? "visibility_off" : "visibility" }}
            </span>
        </button>
    </mat-form-field>

    <button class="btn" type="submit">Войти</button>

    <label class="login-reg">Нет аккуанта?
        <a href="/register" class="link">Зарегистрироваться!</a>
    </label>
</form>
