.login-form {
    width: 100%;
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 8px;
    background-color: var(--background-secondary-color);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.password-input {
    position: relative;
}
.password-eye-btn {
    top: 30%;
    right: 3%;
}

.login-reg {
    display: inline-block;
    font-size: 14px;
    color: #666; /* Цвет текста */
    font-weight: 400;
    margin-top: 10px;
}