:root {
    --primary-color: #319135;
    --border-color: #323232;
    --green-color: #3e6335;
    --background-color: #96ad96;
    --background-secondary-color: #adc2ad;
    --text-color: #ffffff;
    --text-secondary-color: #323232;
    --hover-color: #319135;
    --secondary-color: #858484;
}
  