:root {
    --primary-color: #4aad4d;
    --border-color: #323232;
    --green-color: #72b462;
    --background-color: #96ad96;
    --background-secondary-color: #adc2ad;
    --text-color: #ffffff;
    --hover-color: #4caf50;
    --secondary-color: #858484;

}
  